<!--autoplay="autoplay"-->
<div id="audioContainer"></div>
<!--<source src="../sound/Supercell-告白 (Album Mix).mp3" /></audio>-->
<canvas id="cvs"></canvas>
<div id="SongAlbumContainer">
    <div class="arrowContainer">
        <span class="leftArrow"></span>
        <span class="rightArrow"></span>
    </div>
</div>
<!-- TODO control pane -->
<div id="AudioControl">
    <div id="ProgressControl">
        <div id="CurrentTime" class="progress-time">--:--</div>
        <div id="ProgressBar" class="control-bar">
            <div class="space"></div>
            <a class="handle"></a>
        </div>
        <div id="DuringTime" class="progress-time">--:--</div>
    </div>
    <div id="GainControl">
        <div id="GainValue">100%</div>
        <div id="GainBar" class="control-bar">
            <div class="space"></div>
            <a class="handle"></a>
        </div>
        <div id="SongMuteIcon" class="enable"></div>
    </div>
    <div id="OrderControl">
        <div id="SongRepeatIcon" class="icon"></div>
        <div id="SongShuffleIcon" class="icon"></div>
    </div>
</div>
