<ul id="BoxSlide">
    <li>
        <div id="tagao" class="upright bottom">
            <div class="grayImage">
                <img src="../Day-Dream/content/canglan/image/tagao.png" />
            </div>
        </div>
        <div class="cant top slidein">
            <div class="word">
                <div class="title">重巡洋舰 TAKAO</div>
                <p>
                    Class :TAKAO-Class Heavy Cruiser (Name Ship)<br />
                    Length :203.76m<br />
                    Beam :20.73m<br />
                    Draft :9.32m<br />
                    Displacement :13460 tons<br />
                    Mental Model :SingleCore G-I (OTOME Plug-in) × 1<br />
                    Propulsion :Graviton Engine/Type-S * 102<br />
                    Maximum Speed :more than 90knot (surfaced) more than 40knot (submerged<br />
                    Armor :Wave Motion Compulsory Conversion Device Armor
                </p>
            </div>
        </div>

    </li>

    <li>
        <div id="jingang" class="upright top">
            <div class="grayImage">
                <img src="../Day-Dream/content/canglan/image/jingang.png" />
            </div>
        </div>
        <div class="cant bottom slidein">
            <div class="word">
                <div class="title">大战舰 KONGGO</div>
                <p>
                    Class :KONGO-Class Fast BattleShip (NameShip)<br />
                    Length :219.61m<br />
                    Beam :33.1m<br />
                    Draft :12.7m<br />
                    Displacement :31780 tons<br />
                    Mental Model :SingleCore G-1 × 1<br />
                    Propulsion :Graviton Engine/Type-S × 244<br />
                    Maximum Speed :more than 80knot (surfaced) more than 80knot (submerged<br />
                    Armor :Wave Motion Compulsory Conversion Device Armor
                </p>
            </div>
        </div>
    </li>
    <li>
        <div id="yiouna" class="upright bottom">
            <div class="grayImage">
                <img src="../Day-Dream/content/canglan/image/yiouna.png" />
            </div>
        </div>
        <div class="cant top slidein">
            <div class="word">
                <div class="title">潜水艇 I 401</div>
                <p>
                    Class :l-400-class Attack Submarine (Major Alteration)<br />
                    Length :122m<br />
                    Beam :12m<br />
                    Draft :10.2m<br />
                    Displacement :3545/6575 tons<br />
                    Mental Model :DualCore G-I × 1<br />
                    Propulsion :Graviton Engine/Type-S * 70 Type-R × 14<br />
                    Maximum Speed :more than 60knot (surfaced) more than 80knot (submerged<br />
                    Armor :Wave Motion Compulsory Conversion Device Armor
                </p>
            </div>
        </div>
    </li>
    <li>
        <div id="zhengming" class="upright top">
            <div class="grayImage"><img src="../Day-Dream/content/canglan/image/zhengming.png" /></div>
        </div>
        <div class="cant bottom slidein">
            <div class="word">
                <div class="title">重巡洋舰 榛明</div>
                <p>
                    Class :KONGO-Class Fast BattleShip<br />
                    Length :222.05m<br />
                    Beam :31.02m<br />
                    Draft :12.7m<br />
                    Displacement :32236 tons<br />
                    Mental Model :SingleCore G-I<br />
                    Propulsion :Graviton Engine/Type-S × 204<br />
                    Maximum Speed :more than 85knot (surfaced) more than 40knot (submerged<br />
                    Armor :Wave Motion Compulsory Conversion Device Armor
                </p>
            </div>
        </div>
    </li>
</ul>